.header{
    display: flex;
    justify-content: space-between;
    border: 5px inset black;
    /* border-style: ; */
}

.logo{
    width: 120px;
}

.nav-items{
    padding: 1rem;
}

.nav-items ul{
    list-style-type: none;
}

.nav-items ul li{
    display: inline-block;
    margin: 15px;
    font-size: 1.3rem;
}

.res-card{
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #e8e8e8;
    margin: 5px;
    height: 500px;
}

.res-card:hover{
    border: 1px solid black;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
}

.search{
    margin: 10px;
}

.filter{
    display: flex ;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    width: 200px;
    margin: 5px;
    padding: 0.5rem;
    height: 500px;
}

.shimmer-btn{
    margin: 10px;
    color: transparent;
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

.shimmer-logo{
    width: 100%;
    background-color: gainsboro;
    height: 180px;
}

.logIn{
    padding: 10px 30px;
}

.shimmer-search{
    margin: 10px;
}

.shimmer-input{
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.shimmer-search-btn{
    color: transparent;
    border: 1px solid gainsboro;
    background-color: gainsboro;
}

a{
    text-decoration: none;
    color: #000;
}


/* Restaurant Menu Start */

.menu .menuCuisine{
    border: 1px solid #000;
    color: orangered;
    text-align: center;
    padding: 2rem; 
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 20px 1px grey;
}

.menuList{
    margin-top: 4rem;
    list-style-type: none;
}

.menuList li{
    padding: 1rem 0rem;
}

.menuItemName{
    font-size: 20px;
    color: gainsboro;
}
/* Restaurant Menu End */


/* Shimmer Menu Start  */

.shimmermenu-header{
    width: 250px;
    height: 25px;
    margin: 21px 0px;
    background-color: #bebebe;
}

.shimmermenu-cuisine{
    background-color: gainsboro;
    padding: 3rem; 
    border-radius: 10px;
}

.shimmermenu-list{
    margin-top: 4rem;
}

.shimmermenu-list li{
    list-style-type: none;
    margin-top: 2rem;
}


.shimmermenu-menuList{
    width: 80px;
    height: 20px;
    /* margin: 21px 0px; */
    background-color: #d3d3d3;
}

.shimmermenu-menuName{
    width: 200px;
    height: 12px;
    background-color: #e8e8e8;
}

.shimmermenu-price{
    width: 80px;
    height: 12px;
    background-color: #e8e8e8;
}

.shimmermenu-description  {
    width: 800px;
    height: 12px;
    background-color: #e8e8e8;
}
/* Shimmer Menu End  */